# 2. Data Manipulation Language (DML)

Um Daten in einer Tabelle ändern/einfügen oder löschen können.

- INSERT INTO: Fügt Daten einer Tabelle hinzu
- UPDATE: Aktualisiert Daten einer
- DELETE: Löscht Daten einer Tabelle



### Beispiel
1. Tabelle Schueler soll gelöscht werden, damit wir immer eine frische Tabelle zum Arbeiten haben.
2. Tabelle Schueler soll mit folgenden Attributen erstellt werden:

|   cid | name   | type        |   notnull | dflt_value   |   pk |
|------:|:-------|:------------|----------:|:-------------|-----:|
|     0 | id     | INTEGER     |         0 |              |    1 |
|     1 | name   | VARCHAR(50) |         0 |              |    0 |
|     2 | klasse | VARCHAR(10) |         0 |              |    0 |
|     3 | alter  | INTEGER     |         0 |              |    0 | 

3. Folgende Daten sollen der Tabelle Schueler hinzugefügt werden:

|   id | name   | klasse   | alter   |
|-----:|:-------|:---------|:--------|
|    1 | Lena   | 1B       |         |
|    2 | Peter  | 1B       |         |

4. Setze das Alter von Lena auf 18:

|   id | name   | klasse   |   alter |
|-----:|:-------|:---------|--------:|
|    1 | Lena   | 1B       |      18 |
|    2 | Peter  | 1B       |     nan | 

5. Lösche den Eintrag mit dem Schüler Peter

|   id | name   | klasse   |   alter |
|-----:|:-------|:---------|--------:|
|    1 | Lena   | 1B       |      18 |

6. SQLite macht ohne explizite Angabe bei der Erstellung einer Tabelle keine Type-Checking. Füge einen neuen Schüler mit dem Namen 12345 und dem Alter von "abc" hinzu.

|   id | name   | klasse   | alter   |
|-----:|:-------|:---------|:--------|
|    1 | Lena   | 1B       | 18      |
|    2 | 123456 |          | abc     |

In [40]:
import sqlite3
import pandas as pd

#1. Tabelle sol immer wieder frisch sein
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

#2. Tabelle erstellen

cursor.execute("""
    CREATE TABLE schueler 
                (sid INTEGER PRIMARY KEY, 
                name VARCHAR(50) NOT NULL,
                klasse VARCHAR(10) NOT NULL,
                'alter' INTEGER NOT NULL);       """)

command = "PRAGMA TABLE_INFO('schueler');"
print(pd.read_sql(command,conn).to_markdown())



cursor.execute("""
INSERT INTO schueler (name,klasse,'alter') VALUES 
            ('Lena','1B',-1),
            ('Peter','1B',-1);
    
""")

pd.read_sql("SELECT * FROM schueler",conn)

#4. Alter von Lena auf 18 setzen

cursor.execute(""" 
UPDATE schueler SET 'alter'=18 WHERE name='Lena';
""")

print(pd.read_sql("SELECT * FROM schueler",conn))


# 5. Lösche den Eintrag mit dem Naem Peter

cursor.execute("""
DELETE FROM schueler WHERE name='Peter';
""")

pd.read_sql("SELECT * FROM schueler",conn)


cursor.execute(""" 
INSERT INTO schueler (name,klasse,"alter") VALUES 
            (12345,TRUE,"abc")
""")
pd.read_sql("SELECT * FROM schueler",conn)

|    |   cid | name   | type        |   notnull | dflt_value   |   pk |
|---:|------:|:-------|:------------|----------:|:-------------|-----:|
|  0 |     0 | sid    | INTEGER     |         0 |              |    1 |
|  1 |     1 | name   | VARCHAR(50) |         1 |              |    0 |
|  2 |     2 | klasse | VARCHAR(10) |         1 |              |    0 |
|  3 |     3 | alter  | INTEGER     |         1 |              |    0 |
   sid   name klasse  alter
0    1   Lena     1B     18
1    2  Peter     1B     -1

   sid   name klasse alter
0    1   Lena     1B    18
1    2  12345      1   abc

# Aufgabe 


1. Erstelle die Tabelle`books`:
 
|   cid | name           | type         |   notnull | dflt_value   |   pk |
|------:|:---------------|:-------------|----------:|:-------------|-----:|
|     0 | id             | INTEGER      |         0 |              |    1 |
|     1 | title          | VARCHAR(100) |         0 |              |    0 |
|     2 | author         | VARCHAR(100) |         0 |              |    0 |
|     3 | genre          | VARCHAR(50)  |         0 |              |    0 |
|     4 | year_published | INTEGER      |         0 |              |    0 |
|     5 | available      | BOOLEAN      |         0 |              |    0 | 

1. Daten der Tabelle hinzufügen.
   
|   id | title                 | author              | genre     |   year_published |   available |
|-----:|:----------------------|:--------------------|:----------|-----------------:|------------:|
|    1 | To Kill a Mockingbird | Harper Lee          | Fiction   |             1960 |           1 |
|    2 | 1984                  | George Orwell       | Dystopia  |             1949 |           1 |
|    3 | Moby Dick             | Herman Melville     | Adventure |             1851 |           0 |
|    4 | The Great Gatsby      | F. Scott Fitzgerald | Fiction   |             1925 |           1 |
|    5 | Brave New World       | Aldous Huxley       | Dystopia  |             1932 |           0 | 

1. Das Buch Moby Dick wurde zurückgebracht und ist jetzt verfügbar.
   
|   id | title                 | author              | genre     |   year_published |   available |
|-----:|:----------------------|:--------------------|:----------|-----------------:|------------:|
|    1 | To Kill a Mockingbird | Harper Lee          | Fiction   |             1960 |           1 |
|    2 | 1984                  | George Orwell       | Dystopia  |             1949 |           1 |
|    3 | Moby Dick             | Herman Melville     | Adventure |             1851 |           1 |
|    4 | The Great Gatsby      | F. Scott Fitzgerald | Fiction   |             1925 |           1 |
|    5 | Brave New World       | Aldous Huxley       | Dystopia  |             1932 |           0 | 

1. Das Buch 1984 wurde von einem Kunden als verloren gemeldet.
   
|   id | title                 | author              | genre     |   year_published |   available |
|-----:|:----------------------|:--------------------|:----------|-----------------:|------------:|
|    1 | To Kill a Mockingbird | Harper Lee          | Fiction   |             1960 |           1 |
|    3 | Moby Dick             | Herman Melville     | Adventure |             1851 |           1 |
|    4 | The Great Gatsby      | F. Scott Fitzgerald | Fiction   |             1925 |           1 |
|    5 | Brave New World       | Aldous Huxley       | Dystopia  |             1932 |           0 | 
 
1. Die Bibliothek hat entschieden, dass das Genre aller Bücher die vor 1930 erschienen sind als Classic einzustufen sind.
   
|   id | title                 | author              | genre    |   year_published |   available |
|-----:|:----------------------|:--------------------|:---------|-----------------:|------------:|
|    1 | To Kill a Mockingbird | Harper Lee          | Fiction  |             1960 |           1 |
|    3 | Moby Dick             | Herman Melville     | Classic  |             1851 |           1 |
|    4 | The Great Gatsby      | F. Scott Fitzgerald | Classic  |             1925 |           1 |
|    5 | Brave New World       | Aldous Huxley       | Dystopia |             1932 |           0 |

In [56]:

# cursor.execute(""" 
#CREATE TABLE books (id INTEGER PRIMARY KEY,
#               title VARCHAR(100), author VARCHAR(100), genre VARCHAR(50),year_published DATE, available BOOLEAN )
#""")


pd.read_sql(command,conn)

cursor.execute("""
INSERT INTO books (title,author,genre,year_published,available) VALUES 
('To Kill a Mockingbird', 'Harper Lee', 'Fiction', 1960, 1),
('1984', 'George Orwell', 'Dystopia', 1949, 1),
('Moby Dick', 'Herman Melville', 'Adventure', 1851, 0),
('The Great Gatsby', 'F. Scott Fitzgerald', 'Fiction', 1925, 1),
('Brave New World', 'Aldous Huxley', 'Dystopia', 1932, 0);
""")


# 1. Moby Dick wurde zurückgebracht

cursor.execute("UPDATE books SET available = true WHERE title='Moby Dick'")

pd.read_sql("SELECT * FROM books",conn)

,id,title,author,genre,year_published,available
0,1,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
1,2,1984,George Orwell,Dystopia,1949,1
2,3,Moby Dick,Herman Melville,Adventure,1851,1
3,4,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
4,5,Brave New World,Aldous Huxley,Dystopia,1932,0
5,6,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
6,7,1984,George Orwell,Dystopia,1949,1
7,8,Moby Dick,Herman Melville,Adventure,1851,1
8,9,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
9,10,Brave New World,Aldous Huxley,Dystopia,1932,0
10,11,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
11,12,1984,George Orwell,Dystopia,1949,1
12,13,Moby Dick,Herman Melville,Adventure,1851,1
13,14,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
14,15,Brave New World,Aldous Huxley,Dystopia,1932,0
15,16,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
16,17,1984,George Orwell,Dystopia,1949,1
17,18,Moby Dick,Herman Melville,Adventure,1851,1
18,19,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
19,20,Brave New World,Aldous Huxley,Dystopia,1932,0
20,21,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
21,22,1984,George Orwell,Dystopia,1949,1
22,23,Moby Dick,Herman Melville,Adventure,1851,1
23,24,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
24,25,Brave New World,Aldous Huxley,Dystopia,1932,0
25,26,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
26,27,1984,George Orwell,Dystopia,1949,1
27,28,Moby Dick,Herman Melville,Adventure,1851,1
28,29,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
29,30,Brave New World,Aldous Huxley,Dystopia,1932,0
30,31,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
31,32,1984,George Orwell,Dystopia,1949,1
32,33,Moby Dick,Herman Melville,Adventure,1851,1
33,34,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
34,35,Brave New World,Aldous Huxley,Dystopia,1932,0
35,36,To Kill a Mockingbird,Harper Lee,Fiction,1960,1
36,37,1984,George Orwell,Dystopia,1949,1
37,38,Moby Dick,Herman Melville,Adventure,1851,1
38,39,The Great Gatsby,F. Scott Fitzgerald,Fiction,1925,1
39,40,Brave New World,Aldous Huxley,Dystopia,1932,0