# Data Query Language(DQL)
Können Daten aus einer Datenbank abgerufen, gefiltert und/oder aggregiert werden.

## 1. Grunlegende Auswahl

- SELECT: Ruft Daten aus einer oder mehreren Tabelen ab
- SELECT **DISTINCT**: Zeigt nur eindeutige Werte -> eleminiert Duplikate
- SELECT ATTRIBUT **AS** neuerName: Vergibt ALiasnamen für Spalten und Tabellen
- SELECT * FROM useres **LIMIT** 10: Begrenzt die anzahl an zurückgegebenen Zeieln.

In [4]:
%pip install pandas
import sqlite3
import pandas as pd

conn = sqlite3.connect("hydrology_data.db")
cur = conn.cursor()

Requirement already satisfied: pandas in c:\users\luis\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\luis\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\luis\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\luis\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\luis\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\luis\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pd.read_sql("SELECT * FROM Temperature LIMIT 3", conn)

                    Timestamp  Temperature
0  2017-06-04 14:57:28.059000    19.189117
1  2017-06-05 14:57:28.059000    25.510571
2  2017-06-06 14:57:28.059000    24.462540

In [11]:
pd.read_sql("SELECT Temperature AS tmp From Temperature Limit 3", conn)

         tmp
0  19.189117
1  25.510571
2  24.462540

In [14]:

pd.read_sql("SELECT DISTINCT YR, * FROM rch",conn)

,YR,RCH,YR,MO,FLOW_INcms,FLOW_OUTcms,EVAPcms,TLOSScms,SED_INtons,SED_OUTtons,...,BED_PSTmg,BACTP_OUTct,BACTLP_OUTct,CMETAL_1kg,CMETAL_2kg,CMETAL_3kg,TOT_Nkg,TOT_Pkg,NO3ConcMg_l,WTMPdegc
0,1981,1,1981,1,146.343765,146.252487,0.091281,0.0,2.332046e-07,6.161946e+04,...,0.0,0.0,0.0,0.0,0.0,0.0,8.060157e+02,0.000000,0.0,0.0
1,1981,2,1981,1,96.225693,96.182854,0.042821,0.0,1.642676e-07,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,4.424630e+02,0.000000,0.0,0.0
2,1981,3,1981,1,11.952719,11.861368,0.091352,0.0,2.032582e-07,2.032582e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,1.103991e+02,0.009118,0.0,0.0
3,1981,4,1981,1,49.486492,49.406513,0.079983,0.0,3.913227e-08,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.230848e+02,0.000000,0.0,0.0
4,1981,5,1981,1,274.066803,272.106018,1.960806,0.0,2.257870e+06,1.166752e+05,...,0.0,0.0,0.0,0.0,0.0,0.0,1.304826e+06,420186.281250,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8275,2010,19,2010,12,5.524071,5.521397,0.002673,0.0,2.106953e-07,2.106953e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,3.186030e+01,0.027503,0.0,0.0
8276,2010,20,2010,12,30.613400,30.551821,0.061576,0.0,9.801759e-08,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.602052e+02,0.000000,0.0,0.0
8277,2010,21,2010,12,4.488809,4.487870,0.000938,0.0,7.982982e-08,7.982982e-08,...,0.0,0.0,0.0,0.0,0.0,0.0,2.687480e+01,0.017791,0.0,0.0
8278,2010,22,2010,12,13.716627,13.439812,0.276818,0.0,3.510945e-07,2.074509e+03,...,0.0,0.0,0.0,0.0,0.0,0.0,1.324296e+02,0.052098,0.0,0.0
8279,2010,23,2010,12,4.557508,4.518565,0.038942,0.0,1.057583e-07,1.057583e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,3.570109e+01,0.016330,0.0,0.0